* {
    text-align: justify;
}

.icon {
    margin-left: 15px;
}

.img {
    margin-right: 20px;
    justify-content: center;
}

.aboutMe {
    color: #575978;
}

.skills {
    color: #B5DB5C;
}

.code {
    color: #677CEC;
}

.sub {
    display: flex;
}