body {
    margin: 0;
    --bg: white;
    --textNormal: #222;
    --textTitle: #222;
    --textLink: blue;
    --hr: hsla(0, 0%, 0%, 0.2);
  
    background-color: var(--bg);
  }

body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: darkslategray;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: #1CDEE0;
    --hr: hsla(0, 0%, 100%, 0.2);
    
    .name, .email, .description {
        color: var(--textTitle)
    }

    .title {
        color: var(--bg)
    }
    
  }

.container {
    display: flex;
}

.container2 {
    display: flex;
}

.mail {
    text-decoration: none;
    color: #AFABAA;
}

.mail2 {
    margin-top: -25px;
    margin-left: 25px;
    text-decoration: none;
    color: #AFABAA;
}

.image {
    text-decoration: none;
    color: #AFABAA;
}

.LinkText {
    margin-left: 10px;
}

.MailText {
    margin-left: 10px;
}

.container:hover {
    color: #42CEBE;
}

.mail2:hover {
    color: #908DF2;
}

.svg, .image {
    height: 25px;
    width: 25px;
}

.imageMail {
    height: 35px;
    width: 35px;
    // margin-left: -25px;
    margin: 10px;
}

.Linkedin {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.Mail {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.Linkedin:hover {
    color: #0B8CBF;
}

.title {
    display: flex;
}

.blob {
    margin-top: -40px;
    margin-left: -290px;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.main-info {
    display: flex;
    // justify-content: space-between;
}

.name, .email {
    font-size: 1.4rem;
    margin-right: 15px;
}

.email {
    margin-left: 15px;
}

.description {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 10px;

}

textarea {
    margin-bottom: 15px;
    resize: vertical;
    height: 80px;
    min-height: 80px;
    max-height: 250px;
    padding: 10px;
}

.submit {
    width: 12%;
    text-align: center;
    background-image: linear-gradient(to right top, #00ffac, #00ecff, #00ccff, #0096ff, #eb12e4);
    margin-top: 15px;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    // font-size: 1.15rem;
    transition: all .2s ease-in-out;
}

input:focus, textarea:focus { 
    outline: none !important;
    border-color: #70E6F6;
    box-shadow: 0 0 10px #70E6F6;
}