body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: darkslategray;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: #1CDEE0;
    --hr: hsla(0, 0%, 100%, 0.2);
    
    .active-nav-item {
        color: #fff;
    }
    
  }

.logo {
    margin-right: 15px;
}

.toggler {
    justify-content: end;
}

.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666;
}

.active-nav-item {
    color: #333333;
}

.toggle {
    --size: 1rem;
    
    appearance: none;
    outline: none;
    cursor: pointer;
    
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(240, 100%, 95%);
    
    transition: all 500ms;
    
    &:checked {
      --ray-size: calc(var(--size) * -0.4);
      --offset-orthogonal: calc(var(--size) * 0.65);
      --offset-diagonal: calc(var(--size) * 0.45);
  
      transform: scale(0.75);
      color: #1CDEE0;
      box-shadow: 
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      ;
    }
  }

.languages {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: .9rem;
}

.aLang {
   text-decoration: none;
   color: #999;
}